@import "../../app.scss";
.backdrop {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: #000000cc;
  display: grid;
}

.cv-modalContainer {
  place-self: center;
  width: max(30vw, 250px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadefromRight 1s;
}

.closeIcon {
  font-size: 30px;
  cursor: pointer;
}
.loginModalTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0c0c1d;
  font-size: 25px;
  @include tablet {
    font-size: 14px;
  }
}
.buttonContainer {
  display: flex;
  justify-content: center;
}
.downloadButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 35px;
  background-color: #1b1b29;
  border: none;
  border-radius: 7px;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 7px;
  color: white;
  width: 80%;
}

.downloadButton:hover {
  background-color: #0c0c1d;
}
.downloadButton:disabled {
  background-color: #454549;
  cursor: not-allowed;
}
